<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				{{title}}
			</h1>
		</div>
	</div>
	<div class="row col-lg-12 filter-query-table">
		
	</div>
	<div class="row col-lg-12">
		<div class="btn-group pagination">
			<a class="btn btn-default disabled" href="#" data-panel-class="visualization-row">Map</a>
			<a class="btn btn-default disabled" href="#" data-panel-class="timechart-row">Bars</a>
			<a class="btn btn-default active" href="#" data-panel-class="table-row">Table</a>
		</div>
		<div class="pagination-bar" style="display: inline-block; float:right"></div>
		<div class="row-count-display" style="display: inline-block"></div>
	</div>
	<div class="row col-lg-12 tab-content">
		<div class="tab-pane">
			<div class="row visualization-row">
				<div class="col-lg-12 row">
					<div style="text-align: center">
						<i class="fa fa-circle-o-notch fa-spin" style="font-size: 48px"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane">
			<div class="row timechart-row">
				<div class="col-lg-12 row">
					<div style="text-align: center">
						<i class="fa fa-circle-o-notch fa-spin" style="font-size: 48px"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane active">
			<div class="table-row col-lg-12">
					<div style="text-align: center">
						<i class="fa fa-circle-o-notch fa-spin" style="font-size: 48px"></i>
					</div>
			</div>
		</div>
	</div>

	<!-- ./row -->
</div>
<!-- /.container-fluid -->

<script src="{{javascript}}"></script>

