<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				View Answers By Local Time 
			</h1>
		</div>
	</div>
	<div class="row filter-query-table">
		
	</div>
	<div class="row btn-group">
		<a class="btn btn-default disabled" href="#" data-panel-class="visualization-row">Visualization</a>
		<a class="btn btn-default active" href="#" data-panel-class="table-row">Table</a>
		<a class="btn btn-default disabled" href="#" data-panel-class="timechart-row">Time Chart</a>
	</div>
	<div class="row tab-content">
		<div class="tab-pane">
			<div class="row visualization-row">
				<div class="col-lg-12 row">
					<div style="text-align: center">
						<i class="fa fa-circle-o-notch fa-spin" style="font-size: 48px"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane">
			<div class="row timechart-row">
				<div class="col-lg-12 row">
					<div style="text-align: center">
						<i class="fa fa-circle-o-notch fa-spin" style="font-size: 48px"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane active">
			<div class="row table-row">
				<div class="col-lg-12 row">
					<div style="text-align: center">
						<i class="fa fa-circle-o-notch fa-spin" style="font-size: 48px"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row pagination-bar"></div>
	<!-- ./row -->
</div>
<!-- /.container-fluid -->

<script src="/static/views/view_answers_local_time/main.js"></script>

