<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				User Details
			</h1>
		</div>
	</div>
	<div class="row col-lg-12">
		<div class="btn-group pagination">
			<a class="btn btn-default disabled" href="#" data-panel-class="table-row">Table</a>
		</div>
	</div>
	<div class="row col-lg-12">	
		<div class="col-lg-6">
			<div class="pagination1-bar" style="display: inline-block; float:right"></div>
		</div>
		<div class="col-lg-6">
			<div class="pagination2-bar" style="display: inline-block; float:right"></div>
		</div>
		
	</div>
	
	<div class="row col-lg-12">	
		<div class="col-lg-6" style="text-align: center">
			<div class="row">
				<div class="col-lg-6" style="text-align: center">
					<h1 class="page-header">
							Question Details
					</h1>
				</div>
			</div>
		</div>
		<div class="col-lg-6" style="text-align: center">
			<div class="row">
				<div class="col-lg-6" style="text-align: center">
						<h1 class="page-header">
							Answer Details
						</h1>
				</div>
			</div>
		</div>
		
	</div>
	
	<div class="table-row col-lg-12">
		
		
		<div class="col-lg-6 questions-content">
			<div style="text-align: center">
				<i class="fa fa-circle-o-notch fa-spin" style="font-size: 48px"></i>
			</div>		
		</div>
		
		<div class="col-lg-6 answers-content">
			<div style="text-align: center">
				<i class="fa fa-circle-o-notch fa-spin" style="font-size: 48px"></i>
			</div>		
		</div>
	</div>
</div>
<!-- /.container-fluid -->

<script src="/static/views/user_details/main.js"></script>


