<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-lg-2">
			<span class="user-image"></span>
		</div>
		<div class="col-lg-4">
			<h1 class="page-header user-name">
				<div style="text-align: center">
					<i class="fa fa-circle-o-notch fa-spin" style="font-size: 48px"></i>
				</div>
			</h1>
			<h4>
				<span class="user-reputation"></span>
			</h4>
			<h4>
				<span class="user-location"></span>
			</h4>
			<h4>
				<span class="user-resolved-location"></span>
			</h4>
		</div>
		<div class="col-lg-6 user-tags">
			
		</div>
	</div>
	<div class="row col-lg-12">	
		<div class="col-lg-6 questions-section">
			<div class="row">
				<h3 class="page-header">
					Questions
				</h3>
			</div>
			<div class="row col-lg-12">
				<div class="btn-group pagination">
					<a class="btn btn-default disabled" href="#" data-panel-class="visualization-row">Map</a>
					<a class="btn btn-default disabled" href="#" data-panel-class="timechart-row">Bars</a>
					<a class="btn btn-default active" href="#" data-panel-class="table-row">Table</a>
				</div>
				<div class="pagination-bar" style="display: inline-block; float:right"></div>
				<div class="row-count-display" style="display: inline-block"></div>
			</div>
			<div class="row">
				<div class="table-row col-lg-12 table-content" data-panel-class="table">
					<div style="text-align: center">
						<i class="fa fa-circle-o-notch fa-spin" style="font-size: 48px"></i>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-6 answers-section">
			<div class="row">
				<h3 class="page-header">
					Answers
				</h3>
			</div>
			<div class="row col-lg-12">
				<div class="btn-group pagination">
					<a class="btn btn-default disabled" href="#" data-panel-class="visualization-row">Map</a>
					<a class="btn btn-default disabled" href="#" data-panel-class="timechart-row">Bars</a>
					<a class="btn btn-default active" href="#" data-panel-class="table-row">Table</a>
				</div>
				<div class="pagination-bar" style="display: inline-block; float:right"></div>
				<div class="row-count-display" style="display: inline-block"></div>
			</div>
			<div class="row">
				<div class="table-row col-lg-12 table-content" data-panel-class="table-row">
					<div style="text-align: center">
						<i class="fa fa-circle-o-notch fa-spin" style="font-size: 48px"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /.container-fluid -->

<script src="/static/views/user_details/main.js"></script>


